<?xml version="1.0" encoding="utf-8"?>
<manifest package="jp.co.getti.lab.android.jobcaaan"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- パーミッション/機能 ネットワーク -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- パーミッション/機能　位置情報 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR"/>

    <!-- パーミッション/機能　バイブレーション -->
    <uses-permission android:name="android.permission.VIBRATE"/>

    <!-- パーミッション/機能 WakeLock -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <!-- パーミッション/機能 外部記憶領域(SD) -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- メインActivity -->
        <activity android:name=".activity.MainTabActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.AlertActivity"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.AppCompat.Translucent">
        </activity>

        <!-- Jobcaaanサービス -->
        <service
            android:name=".service.JobcaaanService"
            android:enabled="true"
            android:exported="false"/>

        <!-- JobcaaanアラームリロードReceiver -->
        <receiver android:name=".receiver.AlarmReloadReceiver">
            <intent-filter>
                <action android:name="android.intent.action.TIMEZONE_CHANGED"/>
                <action android:name="android.intent.action.TIME_SET"/>
                <action android:name="android.intent.action.DATE_CHANGED"/>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
            </intent-filter>
        </receiver>

        <!-- JobcaaanアラームロジックReceiver -->
        <receiver android:name=".receiver.AlarmLogicReceiver"/>

        <!-- 日時アラームReceiver -->
        <receiver android:name=".utils.DailyAlarmManager$Receiver"/>

        <!-- データDBコンテンツプロバイダ(汎用コンテンツプロバイダ) -->
        <provider
            android:name=".db.GeneralDBContentsProvider"
            android:authorities="${applicationId}.data"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="db_mng_class"
                android:value="jp.co.getti.lab.android.jobcaaan.db.DataDBManager"/>

            <meta-data
                android:name="in_memory"
                android:value="false"/>

            <meta-data
                android:name="in_ext_dir"
                android:value="true"/>

            <meta-data
                android:name="db_file_path"
                android:value="/Jobcaaan/${applicationId}/data.db"/>
        </provider>
    </application>

</manifest>